<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>
  
  <% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this book from being saved
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="filed">
  <h4>Title</h4>
  <%= f.text_field :title %>
</div>
<div class="filed">
  <h4>Body</h4>
  <%= f.text_area :body %>
</div>
<div class="filed">
  <%= f.submit 'Update Book' %>
</div>
 <%= link_to "show", book_path(@book.id) %>
 |
 <%= link_to "back", books_path %>

<% end %>